* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  --marginLeft: 100px;
  --mainColor: hsl(26, 99%, 46%);
  --secondaryColor: hsl(0, 5%, 10%);
  background-color: white;
}

/*==============support class ===================*/
.d-flex {
  display: flex;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-content-space-between {
  justify-content: space-between;
}

.f-d-row {
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-main {
  background-color: var(--mainColor);
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.white-text {
  color: white;
}

.grey-text {
  color: hsl(0, 0%, 40%);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mr-20 {
  margin: 20px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*=========================================== navbar ===============================================*/
header {
  text-transform: uppercase;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.mobile-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--secondaryColor);
  height: 60px;
}

.homepage-logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: auto;
}

.orange-char {
  color: var(--mainColor);
}

.collapse-button {
  cursor: pointer;
  font-size: 1.5rem;
  float: right;
  height: max-content;
  margin-right: 20px;
}

.navbar ul {
  margin: 0;
  background-color: var(--secondaryColor);
  height: calc(100vh - 60px);
}

.navbar li {
  display: block;
  line-height: 80px;
  width: 100%;
  text-align: center;
}

.navbar li a {
  cursor: pointer;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 20px;
}

.navbar li a:hover,
.navbar li a:focus {
  border-bottom: 2px solid var(--mainColor, orange);
  /* transform: rotateX(90deg); */
}

.toggle {
  display: none;
}

.vertical-logo {
  display: none;
  width: 100px;
  float: right;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 600;
  transform: rotate(90deg) translate(50%, -50%);
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .navbar {
    height: 80px;
  }

  .navbar ul {
    margin-left: var(--marginLeft);
    background-color: transparent;
    height: 80px;
  }
  .navbar li {
    display: inline-block;
    width: fit-content;
    margin: 0 20px;
  }
  .toggle {
    display: block;
  }
  .vertical-logo {
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  .title {
    font-size: 3rem;
  }
}

/*====================================== main ======================*/
.main-container {
  background-image: url("./public/bg.png");
  width: 100%;
  height: 130vh;
  position: relative;
  padding: 35vh 0;
}

.main-content {
  width: 400px;
  color: white;
  padding: 40px 20px;
  height: 50vh;
}

.main-content h1 {
  width: 50%;
}

.small-line {
  color: hsl(0, 0%, 20%);
}

@media only screen and (min-width: 768px) {
  .main-content {
    margin-left: var(--marginLeft);
  }
}

/* ============================ section =======================*/
.section-container {
  min-height: 100vh;
  padding-bottom: 10vh;
}

.overlap-main {
  position: relative;
  margin-top: -30vh;
}

.arrow-container {
  display: none;
}

.circle-border {
  margin: 5px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid white;
}

.color-border {
  border: 1px solid var(--mainColor);
}

.section-color-content {
  height: 100vh;
  padding: 40px;
}

.section-color-content p {
  padding: 10px 0;
}

.section-img {
  object-fit: cover;
  width: 100%;
  height: 30vh;
}

.section-content-right {
  height: 100vh;
}

.section-social-media {
  padding: 20px;
  margin-bottom: 20px;
}
.section-sub-content {
  width: 100%;
  padding: 40px 40px 80px 40px;
}

.section-info {
  padding: 20px;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
}

.section-paragraph {
  padding: 20px 20px 20px 0;
}

@media only screen and (min-width: 768px) {
  .section-container {
    margin-left: var(--marginLeft);
  }
  .section-content-wrapper {
    width: 100%;
    flex-direction: row;
  }
  .section-color-content,
  .section-content-right {
    height: auto;
  }
  .section-info {
    flex-direction: row;
    padding: 0;
    margin-top: 20px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .arrow-container {
    display: inline-block;
    width: 20% !important;
  }
}
/* ====================================== section Info =======================================*/
.image-section {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}

.info-section-container {
  min-height: 100vh;
}

.info-section-head {
  min-height: 50vh;
}

.overlap-image-section {
  position: relative;
  margin-top: -80vh;
}
.info-section-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-section-color-content {
  max-height: 100%;
  padding: 40px;
}

.info-section-image-bg {
  background-image: url("./public/bg.png");
  height: 100vh;
}

.info-section-form {
  padding: 40px;
  background-color: hsl(0, 0%, 20%);
}

.info-section-form input {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

#submit-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 30px;
  margin: 5px 5px 5px 0;
}

.overlap-info-section-image-bg {
  position: relative;
  margin-top: -100vh;
}

@media only screen and (min-width: 768px) {
  .info-section-container {
    margin-left: var(--marginLeft);
  }
  .overlap-image-section {
    margin-top: -50vh;
  }

  .overlap-info-section-image-bg {
    margin-top: -20vh;
  }
  .info-section-form input {
    margin: 5px;
  }
  .info-section-form input:first-child {
    margin-left: 0;
  }

  #name {
    width: 25%;
  }
  #phone {
    width: 25%;
  }
  #email {
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  #submit-btn {
    margin: 5px;
  }
}
/*====================================footer ================================*/

.footer {
  background-color: hsl(0, 0%, 20%);
}
.footer-link-group {
  width: 50%;
}
.footer-link-group ul {
  margin-left: 20px;
  list-style-type: none;
}
.footer-link-group a {
  text-decoration: none;
}
.direction-title {
  color: var(--mainColor);
  margin: 20px;
}

.footer p {
  padding: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer > div {
    margin-left: var(--marginLeft);
  }
  .footer-link-group {
    width: 20%;
  }
}
