* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*========================================== main config ========================================*/
:root {
  --marginLeft: 100px;
  --mainColor: #f26522;
  --secondaryColor: #323339;
  --whiteColor: #fff;
  --secondaryTextColor: #83969f;
  --titleColor: #3a4d69;
  --heroTextColor: #a8b2ba;
  --introTextColor: #b6b6b6;
  --footerTextColor: #494a56;
  --socialLinkColor: #cfcfcf;
  --bigScreenPadding: 40px;
  --smallScreenPadding: 24px;
  --animationSpeed: 0.25s;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  background-color: var(--whiteColor);
}
a {
  text-decoration: none;
}
*:hover,
*:focus {
  outline: 0px;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  color: var(--titleColor);
}

h1,
h2 {
  margin: 20px 0;
  line-height: 1.15;
}

p {
  line-height: 1.65;
}

a {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 1024px) {
  h1,
  h2 {
    margin: 30px 0;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 16px;
  }
}

/*==============support class ===================*/
.d-flex {
  display: flex;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-content-space-between {
  justify-content: space-between;
}

.j-content-space-around {
  justify-content: space-around;
}
.f-d-row {
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-main {
  background-color: var(--mainColor);
}

.bg-secondary {
  background-color: var(--secondaryColor);
}

.title {
  text-transform: uppercase;
  width: 100%;
}

.white-text {
  color: var(--whiteColor);
}

.secondary-text {
  color: var(--secondaryTextColor);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mr-20 {
  margin: 20px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*=========================================== navbar ===============================================*/
header {
  text-transform: uppercase;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.navbar {
  line-height: 60px;
  transition: background-color 0.25s ease-out;
  display: flex;
}

.navbar__mobie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondaryColor);
  height: 60px;
}

.navbar__homepage-logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  margin: auto;
}

.orange-char {
  color: var(--mainColor);
}

.navbar__collapse-button {
  cursor: pointer;
  font-size: 1.5rem;
  height: max-content;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.navbar__collapse-list {
  margin: 0;
  background-color: var(--secondaryColor);
  height: calc(100vh - 60px);
  opacity: 1;
  width: 100%;
  animation: spanNavbar 0.5s ease-out 1 forwards;
  /*name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes spanNavbar {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: calc(100vh - 60px);
    opacity: 1;
  }
}

.navbar li {
  display: block;
  line-height: 80px;
  width: 100%;
  text-align: center;
}

.navbar li a {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: var(--whiteColor);
  display: inline-block;
  height: 80px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  transition: border-bottom var(--animationSpeed) linear,
    background-color var(--animationSpeed) ease-out;
  /*property duration function*/
}

.navbar li a::after {
  /* content: "son this is world"; */
  /*position of tooltip*/
  position: absolute;
  z-index: 1;
  top: 100%;
  /**/

  min-width: 120px;
  line-height: initial;
  display: inline-block;
  height: fit-content;
  background-color: var(--secondaryColor);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.5rem;
}

.navbar li a:hover,
.navbar li a:focus {
  border-bottom: 2px solid var(--mainColor, orange);
  background-color: var(--footerTextColor);
}

.navbar__collapse-list.toggle {
  height: 0;
  opacity: 0;
  animation: collapseNavbar 0.5s ease-out 1 forwards;
  /*name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes collapseNavbar {
  0% {
    height: calc(100vh - 60px);
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.navbar__underline {
  display: none;
}

.navbar__homepage-logo--vertical {
  display: none;
  width: 100px;
  position: absolute;
  right: 30px;
  top: 60px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 700;
  transform: rotate(90deg) translate(50%, -50%);
  letter-spacing: 2px;
  transition: all var(--animationSpeed, 0.25s) linear;
}

@media only screen and (min-width: 768px) {
  .navbar {
    line-height: 80px;
  }
  .navbar__mobie {
    display: none;
  }

  .navbar__collapse-list {
    margin-left: var(--marginLeft);
    background-color: transparent;
    height: 80px !important;
    opacity: 1 !important;
  }

  .navbar li {
    display: inline-block;
    width: fit-content;
    margin: 0 20px;
  }
  .toggle {
    display: block;
  }

  .navbar__homepage-logo--vertical {
    display: block;
  }
  .navbar li a {
    border-bottom: 0;
    background-color: transparent;
  }
  .navbar li a:hover,
  .navbar li a:focus {
    background-color: transparent;
    border-bottom: 0 solid transparent;
  }

  .navbar__underline {
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--mainColor);
    transition: all var(--animationSpeed, 0.25s) ease-in-out;
  }
  /* tooltip animation */
  a[data-tooltip] {
    position: relative;
  }
  /* tooltip for navigation anchor*/
  .navbar li a[data-tooltip]::after {
    content: attr(data-tooltip);
    box-sizing: border-box;
    /*position of tooltip*/
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -60px;
    /**/
    text-transform: none;
    word-wrap: break-word;
    width: 120px;
    line-height: initial;
    display: block;
    height: fit-content;
    background-color: var(--secondaryColor);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6rem;
    transform: scale(0);
    transition: transform var(--animationSpeed) ease-out;
  }

  .navbar li a[data-tooltip]:hover::after {
    transform: scale(1);
  }
}

/*====================================== main ======================*/
.hero-section {
  background-image: url("./public/bg.png");
  width: 100%;
  height: 135vh;
  position: relative;
  padding: 25% 0;
}

.hero-section__content {
  max-width: 400px;
  color: var(--whiteColor);
  padding: var(--smallScreenPadding);
  height: 50vh;
  max-height: 400px;
}

.hero-section__content h1 {
  width: 50%;
}

.hero-section__content p {
  color: var(--heroTextColor);
}

@media only screen and (min-width: 738px) {
  .hero-section {
    max-height: 1200px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-section__content {
    margin-left: var(--marginLeft);
    padding: 0;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    max-height: 1400px;
  }
}

@media only screen and (min-width: 1920px) {
  .hero-section {
    max-height: 1600px;
  }
}
/* =================================== section ==========================================*/

.overlap-hero-section {
  position: relative;
  margin-top: -40vh;
}

.intro-section__arrow {
  display: none;
}

.intro-section__arrow__circle-border {
  margin: 5px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--whiteColor);
}

.color-border {
  border: 1px solid var(--mainColor);
}

.intro-section__main-content {
  max-height: 100%;
  padding: var(--smallScreenPadding);
  max-width: 1400px;
}

.intro-section__main-content > h1 .intro-section__main-content > h2,
.intro-section__main-content > p {
  max-width: 100%;
}

.intro-section__sub-content {
  background-color: var(--whiteColor);
}

.intro-section__sub-content__image {
  object-fit: cover;
  width: 100%;
}

.intro-section__sub-content__social {
  padding-top: var(--smallScreenPadding);
  color: var(--socialLinkColor);
}

.intro-section__sub-content__info {
  width: 100%;
  padding: var(--smallScreenPadding);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section__detail {
  padding: var(--smallScreenPadding);
  justify-content: flex-start;
  max-width: 1400px;
  align-items: center;
}

.intro-section__detail-col {
  margin-bottom: 16px;
}

.intro-section__paragraph,
.intro-section__main-paragraph {
  padding: 0;
}

.intro-section__main-paragraph {
  font-size: 1.1rem;
  color: var(--introTextColor);
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .intro-section__content {
    width: 100%;
    flex-direction: row;
  }

  .intro-section__main-content,
  .intro-section__sub-content {
    height: auto;
  }
  .intro-section__detail {
    flex-direction: row;
    padding: var(--smallScreenPadding);
    align-items: flex-start;
  }
  .intro-section__detail-col {
    margin-right: 14px;
    margin-bottom: 0;
  }
  .intro-section__sub-content__image {
    max-height: 40vh;
  }
}

@media only screen and (min-width: 1024px) {
  .overlap-hero-section {
    margin-top: -30%;
  }
  .intro-section {
    margin-left: var(--marginLeft);
    padding-bottom: 5%;
  }
  .intro-section__content {
    max-height: 800px;
  }

  .intro-section__main-content,
  .intro-section__sub-content__info {
    padding: var(--bigScreenPadding);
  }
  .intro-section__sub-content__info {
    max-width: 750px;
  }

  .intro-section__main-content > h1 {
    max-width: 400px;
  }
  .intro-section__main-content > h2,
  .intro-section__main-content > p {
    max-width: 300px;
  }

  .intro-section__sub-content__info h2 {
    width: 90%;
  }
  .intro-section__detail {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .intro-section__content {
    height: 85vh;
  }
  .intro-section__arrow {
    display: inline-block;
    width: 20% !important;
  }
  .overlap-hero-section {
    margin-top: max(-25%, -40vh);
  }
}

@media only screen and (min-width: 1920px) {
  .intro-section__content {
    max-height: 950px;
  }
}
/* ====================================== section Info =======================================*/
.image-section {
  background-image: url("./public/sub-bg.png");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  display: none;
}
.image-section img {
  display: none;
}

.info-section__head > div {
  width: 100%;
}
.info-section__head h1 {
  font-size: 60px;
  line-height: 1.2;
}

.info-section__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-section__image-bg {
  background-image: url("./public/bg.png");
  height: 100vh;
  display: none;
}

.info-section__form {
  padding: var(--smallScreenPadding);
  width: 100%;
  max-width: 1400px;
}

.info-section__form input {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  transition: outline var(--animationSpeed) ease-in-out;
}
.info-section__form input:hover,
.info-section__form input:focus,
.info-section__form input::selection {
  outline: 2px solid var(--mainColor);
}

.info-section__form input::placeholder {
  padding-left: 5px;
}

#submit-btn {
  background-color: transparent;
  border: 1px solid var(--whiteColor);
  padding: 10px 30px;
  margin: 5px 5px 5px 0;
  width: 150px;
  height: 60px;
  transition: background-color var(--animationSpeed) linear,
    border-radius var(--animationSpeed) linear;
}

#submit-btn:hover,
#submit-btn:focus {
  border-radius: 10px;
  background-color: var(--footerTextColor);
}

.finish-content {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .info-section__form input {
    padding: 5px;
  }

  .info-section__head > div {
    width: 50%;
  }
  #name {
    width: 50%;
  }
  #phone {
    width: 50%;
  }
  #email {
    width: 100%;
  }

  #submit-btn {
    padding: 5px 0;
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .info-section {
    margin-left: var(--marginLeft);
  }
  .image-section {
    display: block;
    height: 87vh;
    max-height: 1000px;
  }
  .info-section__head > div {
    max-width: 380px;
  }
  .image-section img {
    padding: 10% 15%;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .overlap-image-section {
    position: relative;
    margin-top: max(-44%, -50vh);
  }
  #submit-btn {
    margin: 5px;
  }
  .info-section__head {
    max-height: 450px;
    height: 50vh;
  }

  .info-section__form {
    padding: var(--bigScreenPadding);
  }
  #name {
    width: 200px;
    margin: 5px;
  }
  #phone {
    width: 200px;
    margin: 5px;
  }

  #email {
    width: 300px;
    margin: 5px;
  }
  #submit-btn {
    margin: 5px;
    width: 150px;
  }
  .info-section__image-bg {
    display: block;
    max-height: 810px;
  }

  .overlap-info-section__image-bg {
    margin-top: -20vh;
  }
}

@media only screen and (min-width: 1280px) {
  .info-section__head {
    max-height: 540px;
  }
  .finish-content {
    width: 83.33%;
  }
  .info-section__image-bg {
    display: block;
    max-height: 900px;
  }
  .info-section__head > div {
    width: 33.3333%;
    max-width: max-content;
  }
  .overlap-image-section {
    position: relative;
    margin-top: max(-50vh, -38%);
  }
  .overlap-info-section__image-bg {
    margin-top: -12%;
  }
}

@media only screen and (min-width: 1920px) {
  .overlap-image-section {
    margin-top: -50vh;
  }
}
@media only screen and (min-width: 2560px) {
  .overlap-image-section {
    margin-top: -21.25%;
  }
}
/*====================================footer ================================*/

.footer {
  background-color: var(--secondaryColor);
  font-size: 0.85rem;
  padding: var(--smallScreenPadding);
  max-height: 850px;
}

.footer__link-group ul {
  list-style-type: none;
}
.footer__link-group a {
  line-height: 2;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom var(--animationSpeed) linear;
}

.footer__link-group a:hover,
.footer__link-group a:focus {
  border-bottom: 1px solid var(--mainColor);
}

.footer__navigation {
  color: var(--mainColor);
  margin: 20px 0;
}

.footer p {
  line-height: 2;
  text-align: center;
  color: var(--footerTextColor);
}

@media only screen and (min-width: 768px) {
  /* .footer {
    padding: 0;
  } */

  .footer p {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .footer > div {
    margin-left: var(--marginLeft);
  }
  .footer > div {
    padding-top: 8vh;
    max-width: 60%;
  }
  .footer p {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    height: 65vh;
  }
}
