* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================================== main cofig & style sheet ============================================ */
:root {
  --primaryBgColor: #15032a;
  --secondaryBgColor: #f5f5f5;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --footerTiltleColor: #0d4363;
  --primaryTextColor: #d6d6d6;
  --secondaryTextColor: #b5bbc4;
  --footerBgColor: #140328;
  --darkFooterTextColor: #5c5b61;
  --cardBorderColor: #e5e5e5;
  --cardTitleColor: #0c2539;
  --cardTextColor: #677278;
  --sectionTitleWidth: 50px;
  --sectionContentLeftPadding: 20px;
  --sectionMarginBottom: 30px;
  --animationSpeed: 0.25s;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaryBgColor);
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--whiteColor);
}

h1 {
  margin: 0 0 40px 0;
  font-size: 5.75rem;
  letter-spacing: -0.5rem;
  line-height: 0.75;
}

h2 {
  margin: 0 0 10px;
  font-size: 1.75rem;
  line-height: 1.5;
}

h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  line-height: 1.1;
}
/* h4 {
  font-size: 1.15rem;
} */
a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.smallest-text {
  font-size: 0.8rem;
}

.small-chevron {
  width: 15px;
  height: 10px;
}

.primary-color {
  color: var(--cardTitleColor);
}

@media only screen and (min-width: 768px) {
  :root {
    --sectionContentLeftPadding: 50px;
  }
  h1 {
    font-size: 6.5rem;
    letter-spacing: -0.5rem;
    line-height: 0.75;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --sectionTitleWidth: 70px;
    --sectionContentLeftPadding: 80px;
  }
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 6.5rem;
    line-height: 0.8;
  }
}
@media only screen and (min-width: 1280px) {
  :root {
    --sectionTitleWidth: 70px;
    --sectionContentLeftPadding: 105px;
  }
}
/* =============================== header ======================================================== */
.header {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
}

.header__menu {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--primaryBgColor);
}

.header__menu__icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform var(--animationSpeed) linear;
}

.header__menu__icon:hover,
.header__menu__icon:focus {
  transform: scale(1.2);
}
.header-nav {
  width: 0;
  /* display: none; */
  position: relative;
  transition: width var(--animationSpeed) ease-in;
}
.toggle {
  /* display: block; */
  width: 100%;
}
.header__menu__mail {
  display: none;
  position: absolute;
  top: 19px;
  right: 19px;
}

.toggle .header__menu__mail {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    width: 100%;
  }
  .header__menu__mail {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
/* =============================== masthead-secion =============================================== */
.masthead-section {
  height: 140vh;
  margin-bottom: var(--sectionMarginBottom);
  max-height: 1000px;
  width: 100%;
  position: relative;
  display: flex;
}

.section-heading {
  width: var(--sectionTitleWidth);
  color: var(--whiteColor, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading__content {
  transform: rotate(-90deg);
  font-size: 0.75rem;
  flex-shrink: 0;
  text-transform: uppercase;
  position: absolute;
  width: 320px;
}

.section-heading__content__chevron-btn {
  transform: rotate(-180deg) translateX(50px);
  margin-left: 40px;
  display: inline-block;
}

.section-heading__content span {
  color: var(--secondaryTextColor);
  font-size: 0.625rem;
  margin-left: 5px;
}

.section__info-container {
  width: calc(100vw - var(--sectionTitleWidth));
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.masthead-bg {
  background-image: url("./public/pictures/mastHeadBg.png");
  background-position: bottom left;
  background-size: cover;
}

.section__info-main-info {
  padding-left: var(--sectionContentLeftPadding);
  width: 95%;
}

.masthead-section__title {
  -webkit-transform: scale(0.85, 1);
  transform: scale(0.85, 1);
  transform-origin: left;
  width: min-content;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.masthead-section__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.masthead-section__content-col {
  width: 100%;
  max-width: 450px;
}

.section__info-masthead-paragraph {
  font-size: 0.8rem;
}

.masthead-section__content__expand {
  display: none;
  top: 10px;
  right: -10px;
  width: 20px;
}

.masthead-section__date {
  display: none;
}

.masthead-section__date-chevron {
  margin-left: 90%;
  margin-bottom: 10px;
}

.masthead-section__expand {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .masthead-section__title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .masthead-section {
    height: 95vh;
  }

  .masthead-bg {
    background-image: linear-gradient(65deg, transparent 65%, #bc76ff 140%),
      url("./public/pictures/mastHeadBg.png");
  }

  .bottom-25 {
    bottom: 25%;
  }

  .masthead-section__title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .masthead-section__title {
    justify-content: center;
    transform-origin: center;
  }

  /* .section__info-main-info {
    padding-left: var(--sectionContentLeftPadding);
  } */

  .masthead-section__title__under-text {
    border: 5px solid var(--whiteColor);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-5deg) translate(-50%, -50%) scale(1.176, 1);
    font-size: 1.6rem;
    text-transform: lowercase;
    z-index: -1;
    text-align: center;
    letter-spacing: -2px;
  }

  .section__info-container {
    align-items: flex-end;
  }

  .section__info-main-info {
    max-width: 100%;
  }

  .masthead-section__content-wrapper {
    margin-bottom: 60px;
  }

  .masthead-section__content-col {
    width: 50%;
  }

  .masthead-section__content__expand {
    display: block;
    position: absolute;
  }

  .masthead-section__content {
    position: relative;
  }
  .masthead-section__date {
    display: block;
  }
  .masthead-section__expand {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .masthead-section__title__under-text {
    width: 90px;
    height: 90px;
    line-height: 70px;
    font-size: 2rem;
  }
}
/* =============================== under background image section ======================================== */
.under-bg-section {
  position: absolute;
  z-index: -2;
  height: 100vh;
  max-height: 1200px;
  background: url("./public/pictures/deepBg.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -15vh;
  display: none;
}

.under-bg-section-left {
  background-position: top left -75%;
  margin-top: -40vh;
  height: 130vh;
}

@media only screen and (min-width: 1024px) {
  .under-bg-section {
    display: block;
  }
}
@media only screen and (min-width: 1920px) {
  .under-bg-section {
    background-size: 150%;
  }
}
/* =============================== picture-scroll-section =============================================== */
.picture-section {
  margin-bottom: var(--sectionMarginBottom);
}
.scroll__title {
  font-size: 18px;
  display: none;
  margin-bottom: 28px;
  padding-left: calc(
    var(--sectionContentLeftPadding) + var(--sectionTitleWidth)
  );
  text-transform: uppercase;
}
.scroll-group {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}
.scroll-container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row-reverse;
  overflow-y: hidden;
  scroll-behavior: smooth;
  transition: transform var(--animationSpeed);
}
.scroll-container::-webkit-scrollbar {
  height: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: var(--primaryBgColor);
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--secondaryBgColor);
}

.scroll__card {
  display: grid;
  width: 365px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 60px;
  margin: 0 10px;
  flex-shrink: 0;
  background-color: var(--whiteColor);
}

.scroll__card__head {
  width: 100%;
  position: relative;
  border-top: 1px solid var(--cardBorderColor);
  border-left: 1px solid var(--cardBorderColor);
  border-right: 1px solid var(--cardBorderColor);
}

.scroll__card__head-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scroll__card__cut-in {
  position: absolute;
  left: -16px;
  width: 25px;
  height: 25px;
  bottom: -13px;
  transform: rotate(45deg);
  background: linear-gradient(
    18deg,
    var(--primaryBgColor) 77%,
    var(--blackColor) 30%
  );
}

.scroll__card__favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--whiteColor);
}
.scroll__card__favorite__img {
  height: 13px;
}
.scroll__card__body {
  padding: 25px;
}

.scroll__card__body__title {
  color: var(--cardTitleColor);
}

.scroll__card__body__paragraph {
  color: var(--cardTextColor);
  line-height: 2;
}

.scroll__card__footer {
  border-top: 1px solid var(--cardBorderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll__card__footer__comment {
  display: flex;
  justify-content: center;
}

.scroll__card__footer__comment__img {
  width: 16px;
  height: 16px;
  display: flex;
  margin: 0 15px 0 25px;
}

.scroll__card__footer__expand {
  background-color: var(--cardBorderColor);
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll__card__footer__expand img {
  width: 20px;
  height: 20px;
}

.scroll__navigation {
  height: 100%;
  padding: 40px 80px;
  display: none;
}

.scroll__navigation-img {
  transform: translate(0, -40%);
  position: relative;
  top: 40%;
  width: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .scroll__title {
    display: block;
  }
  /* .scroll-container {
    overflow-x: hidden;
  } */
  .scroll-group {
    grid-template-columns: 8fr 1fr;
  }
  .scroll__navigation {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  /* .scroll__card {
    grid-template-rows: 1fr 1fr 90px;
  } */
}

@media only screen and(min-width: 1920px) {
  .scroll-container {
    justify-content: center;
  }
}

/* =============================== submasthead-secion =============================================== */
.sub-masthead-section {
  margin-bottom: var(--sectionMarginBottom);
  height: 105vh;
  max-height: 950px;
  width: 100%;
  position: relative;
  display: flex;
}

.sub-masthead-bg {
  background-image: url("./public/pictures/submastHeadBg.png");
  background-position: bottom left;
  background-size: cover;
}
.section-heading--hidden {
  display: none;
}

.sub-masthead__info {
  width: 100%;
  align-items: flex-end;
}
.sub-masthead-section__title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-masthead-section__title {
  -webkit-transform: scale(0.85, 1) translateX(-5%);
  transform: scale(0.85, 1) translateX(-5%);
  transform-origin: center;
  width: 105%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sub-masthead-section__title__under-text {
  border: 5px solid var(--whiteColor);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.176, 1);
  font-size: 1.5rem;
  text-transform: lowercase;
  z-index: -1;
  text-align: center;
  letter-spacing: -2px;
}

.sub-masthead-section__content {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .sub-masthead-section__title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .sub-masthead-section {
    height: 95vh;
  }
  .section-heading--hidden {
    display: flex;
  }
  .sub-masthead__info {
    width: calc(100vw - var(--sectionTitleWidth));
  }
  .sub-masthead-section__content {
    text-align: left;
    justify-content: space-between;
  }
  .sub-masthead-section__title {
    max-width: 500px;
    -webkit-transform: scale(0.85, 1);
    transform: scale(0.85, 1);
  }
  .sub-masthead-section__title__under-text {
    width: 80px;
    height: 80px;
    line-height: 75px;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1280px) {
  .sub-masthead-section__title__under-text {
    width: 90px;
    height: 90px;
    line-height: 80px;
    font-size: 2rem;
  }
}

/* =============================== content-container =============================================== */
.content-section {
  margin-bottom: var(--sectionMarginBottom);
  width: 100%;
  position: relative;
  display: flex;
  height: 100%;
}

.content-section__heading__content {
  transform: rotate(-90deg);
  font-size: 0.75rem;
  flex-shrink: 0;
  text-transform: uppercase;
  position: absolute;
  width: 130px;
}

.content-section__heading__content span {
  color: var(--secondaryTextColor);
  font-size: 0.625rem;
  margin-left: 5px;
}

.content-section__info-container {
  width: 100%;
  max-width: 1400px;
  padding: calc(var(--sectionTitleWidth) - var(--sectionMarginBottom))
    var(--sectionContentLeftPadding);
  display: flex;
  flex-wrap: wrap;
}

.content-section__info {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content-section__col {
  width: 100%;
}

.content-section__paragraph {
  font-size: 1rem;
  line-height: 1.5;
}

.content-section__sub-col {
  width: 100%;
  padding: 0 0 30px;
}

.content-section__sub-col:first-child {
  padding-left: 0;
}

.content-section__sub-col:last-child {
  padding-bottom: 0;
}

.content-section__resource__title {
  font-weight: 700;
}
.content-section__resouce__info {
  line-height: 2;
}

@media only screen and (min-width: 768px) {
  .content-section__sub-col {
    width: 50%;
    padding-right: 10px;
  }
  .content-section__sub-col:nth-last-child(2) {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .content-section__info {
    width: calc(100vw - var(--sectionTitleWidth));
  }
  .content-section__col {
    width: 50%;
    padding-right: 10px;
  }

  .content-section__sub-col {
    padding: 0 10px 30px;
  }
  .content-section__paragraph {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .content-section__sub-col {
    width: 25%;
  }
  .content-section__info-container {
    padding-top: var(--sectionTitleWidth);
    padding-bottom: var(--sectionTitleWidth);
  }
}

/* =============================== creadit-secion =============================================== */
.credit-section {
  height: 66vh;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      115deg,
      transparent 10%,
      var(--primaryBgColor) 80%
    ),
    url("./public/pictures/creditBg.png");
  background-position: bottom left;
  background-size: cover;
}

.credit-section__info {
  margin-bottom: 60px;
  width: 400px;
  padding-left: var(--sectionContentLeftPadding);
}

.credit-section__info__sub-title {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.credit-section__info__title {
  font-size: 4rem;
  line-height: 0.8;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .credit-section {
    justify-content: flex-end;
    align-items: center;
  }
  .credit-section__info {
    margin-bottom: 60px;
    width: 600px;
    padding-left: 0;
    padding-right: var(--sectionContentLeftPadding);
  }
  .credit-section__info__sub-title {
    font-size: 1.25rem;
  }
  .credit-section__info__title {
    font-size: 2.75rem;
  }
}
@media only screen and (min-width: 1280px) {
  .credit-section__info {
    padding-right: calc(var(--sectionContentLeftPadding) * 2);
  }
}

/* =============================== article-secion =============================================== */
.article-section {
  display: none;
  margin-bottom: var(--sectionMarginBottom);
}
@media only screen and (min-width: 768px) {
  .article-section {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== footer-secion =============================================== */
.footer {
  background-color: var(--footerBgColor);
  padding: var(--sectionContentLeftPadding);

  margin-bottom: var(--sectionMarginBottom);
}

.footer__content-group {
  display: flex;
  margin-bottom: var(--sectionMarginBottom);
}

.footer__content-about,
.footer__content-history {
  padding-right: 30px;
}

.footer__content-contact {
  display: none;
}

.footer__content-list {
  list-style-type: none;
  color: var(--whiteColor, #ffffff);
  height: 13.5ch;
  overflow: hidden;
}

.footer__content-list li {
  line-height: 1.75;
}
.footer__content-list a {
  border-bottom: 1px solid transparent;
  transition: border-bottom var(--animationSpeed) ease-in-out;
  cursor: pointer;
}
.footer__content-list a:hover {
  border-bottom: 1px solid var(--whiteColor);
}

.footer__content-about {
  width: 75%;
}

.footer__content-title {
  color: var(--footerTiltleColor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__content-paragraph {
  line-height: 1.75;
  font-weight: 500;
  height: 16ch;
  overflow: hidden;
}

.footer-text {
  font-size: 0.75rem;
  line-height: 1.75;
  color: var(--darkFooterTextColor);
  height: 10ch;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .footer__content-about {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    width: 100%;
    padding-left: calc(
      var(--sectionContentLeftPadding) + var(--sectionTitleWidth)
    );
  }
  .footer-text {
    height: 3ch;
  }
  .footer__content-list {
    height: 100%;
  }
  .footer__content-contact {
    display: block;
  }
  .footer__content-about {
    width: 40%;
  }
  .footer__content-history {
    width: 30%;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    width: 60%;
    padding-right: 0;
  }

  .footer__content-about,
  .footer__content-history {
    padding-right: 20px;
  }
}
