* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================================== main cofig & style sheet ============================================ */
:root {
  --primaryBgColor: #15032a;
  --secondaryBgColor: #f5f5f5;
  --whiteColor: #ffffff;
  --primaryTitleColor: #0c2539;
  --secondaryTiltleColor: #0d4363;
  --primaryTextColor: #d6d6d6;
  --secondaryTextColor: #b5bbc4;
  --footerBgColor: #140328;
  --darkFooterTextColor: #5c5b61;
  --cardTextColor: #677278;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== masthead-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== masthead-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== masthead-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== scroll-container =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== picture-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== sub-masthead-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== content-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== credit-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}

/* =============================== footer-secion =============================================== */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
